<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="paixao.leonardo.marvel.heroes">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_avengers"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_avengers"
        android:supportsRtl="true"
        android:theme="@style/MarvelHeroesTheme" />

</manifest>